{% extends 'base.html' %}
{% block title %}Записи сообщества{% endblock %}
{% block content %}
  <div class="container" href="{% url 'posts:group_list' group.slug %}">
    <h1>{{ group.title }}</h1>
        <p>
          {{ group.description }}
        </p>
        {% for post in page_obj %}
          <ul>
            <li>
              Автор: {{ post.author.get_full_name }}
            </li>
            <li>
              Дата публикации: {{ post.pub_date|date:"d E Y" }}
            </li>
          </ul>
          <p>{{ post.text }}</p>
          <hr>
        {% endfor %}
        {% include 'posts/includes/paginator.html' %}
  </div>
{% endblock %}
